@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@supports (-webkit-touch-callout: none){

}

*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}


body {
  margin:0;
  box-sizing: border-box;
  background-color: rgba(0,0,0, 0);
  font-family: 'Abel', sans-serif;}

.landContainer{
  width:100%;
  height: 100vh;
  background-color: white;
}

.landVid{
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  background-position: bottom;
  position: absolute;
  top: 5%; 
  object-fit: cover;


}

.landCover{
  position: absolute;
  width: 100%;
  height: 10rem;
  background-color: white;
  bottom: -10%;
  background-position: bottom;
  z-index: 1;

}

#SECTION-SPACE{
  height: 1vh;
}


/* NAVBAR */

.navbar-brand{
  	margin-left: 2rem ;
}


.nav-link{
  font-size: 1.8vw;
  font-family: 'Abel', sans-serif;
}
.nav-some{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: #000000;
}

.fab{
  color: rgb(0, 0, 0);
}

.fa:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.nav-link:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.iconstyle{
  color: black !important;
}
.instagram{
  color: black;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    .dropdown-toggle::after{display: none;}
}

/* NAVBAR END */


h1 {
  margin: 0;
  color: white;
}

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/*
  Styd Navigation 
*/

.styd-nav-container {
  position: fixed;
  top: 40%;
  left: 5%;
  width: 20%;
  height: 90px;
  z-index: 200;
  line-height: 200%;
  display: none;
}

.styd-nav-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.styd-nav-container ul li{
  padding: 2px;
  border-radius: 8px;
  font-size: 1.3rem;
  text-align: left;
  margin: 4px 0 0 0;
  color: white;
}

.styd-nav-container .styd-link a{
  color: white;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.styd-nav-container .styd-link-active a{
   text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
  text-decoration-color: white;
  -webkit-text-decoration-color: white;
}

@-webkit-keyframes navMove{
  from{
    opacity: 0;
    -webkit-transform: translateX(-10%);
  }
  to{
    -webkit-transform: translateX(-10%);
    opacity: 1;
  }
}

@keyframes navMove{
  from{
    opacity: 0;
    transform: translateX(-10%);
  }
  to{
    opacity: 1;
  }
}

.visible{
  display: block;
  animation: navMove 0.6s;
  animation: fadeIn 0.6s;
  -webkit-animation: navMove 0.6s;
}


/*
  Vores STYD specifikke billeder.
  ----- 
*/




.image-bryllup {
  background: url('assets/img/scroll/scrollBryllup.webp');
  z-index: 11111;
  
}


.image-erhverv {
  background: url('assets/img/scroll/scrollErhverv.webp');
  z-index: 11111;
} 

.image-event {
  background: url('assets/img/scroll/eventScroll.webp'); 
  z-index: 11111;

} 
.image-vid {
  background: url('assets/img/scroll/scrollVid.webp'); 
  z-index: 11111;

} 

/* 
  Images Container 
  ----- 
*/

.styd-images-container {
  width: 100%;
  height: 100%;
  position: fixed;

}

.styd-image {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute; 
  transition: opacity 0.5s ease-in;
  background-size: cover;
  background-repeat:  no-repeat;
  background-position: center center;
}

.styd-image.styd-image-active {
  opacity: 1;
}

.styd {
  height: 100vh;

}


/* For mørkere fade */



.styd.avoid {
  pointer-events: none;
  background: none !important;
}

.styd-content {
  height: 100vh;
  position: relative;
}

.styd-content-container {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.styd-content-container a {
  color: white;
/*   position: absolute;
    left: 50%;
    top: 85%; */
    display: flex;
    justify-content: center;
}

.styd-content h1 {
  padding: 20px;
  border-radius: 8px;
  font-size: 5rem;
  min-width: 180px;
  text-align: center;
  width: calc(100% - 40px);
  position: absolute;
}

.mere{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.mere:hover{
  text-decoration: underline;
}

.styd-content p {
  color: #fff;
}

.footer{
  z-index: 1000;
  position: fixed;
  top: 0%;
  display: none;
  width: 100%;
}

 .footer .preFoot-fade{
  animation: moveLeft 0.2s ease-in-out both;
 
} 

.footer .preContact-fade{
  animation: moveRight 0.2s ease-in-out both ;
 }
.footer .siteFooter-fade{
  animation: moveUp 0.2s ease-in-out both;
 } 

@keyframes moveLeft{
   0% {
    transform: translateX(-10%);
  } 

   100% {
    transform: translateX(-0%);
  } 
}

@keyframes moveRight{
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes moveUp{
  0% {
    transform: translateY(0%);
  }

  100%{
    transform: translateY(10%);

  }
}

.foot-fade{ 
display: block;
animation: fadeIn 0.5s;
display: flex;
align-items: center;
}

.navbar {
  position: absolute;
  z-index: 500;
  width: 100%;
}

.footer{
z-index: 1000;
background-color: #26272b;
height: 100vh;
}

.contact-grid{
  display: flex;
  justify-content: space-evenly;
  margin: 0% 7%;


}

.preFooter{
  background-color:#26272b;
  position: relative;
  height: 50vh;
  color: #737373;
  margin: auto;
  padding: 1rem;
  animation: fadeIn 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 50%;
}



.inputHead{
  text-align: center;
  font-size: 2vw;
}

.preTXT{
  font-size: 4vw;
  color: white;
  line-height: 150%;
  width: 100%;
}

.preTXTcontainer{
  width: 100%;
}
.preContact{
  width: 50%;
}
.preFoot{
  width: 50%;
}

.preStrong{
  line-height: 90%;
  font-size: 100px;
}

.preP{
  font-size: 1.6vw;
  text-align: left;
  width: 90%;
  color: white;
  font-family: 'Abel', sans-serif;
  line-height: 160%;
}

.form {
  width: 100%;
  height: 350px;
}

.hidden {
  display: none;
}
.submitDONE {
  display: none;
}

.response{
  display: none;
}

.responsePLAY{
  display: block;
  font-size: 20vw;
  color: white;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.responeTXT .responseTXT-head h2{
  font-size: 10vw !important;
}

.form-group{
  padding-bottom: 10px;
}

input {
  background: #333;
  border: 0;
  padding: 16px;
  width: 100%;
  border-radius: 6px;
  color: #fff;
  margin-top: 10px;
  padding-bottom: 10px;
}

.contactBTN{
  width: 100%;
  display: inline-block;
  border: 0;
  padding: 10px;
  background: #fff;
  border-radius: 6px;
  padding-top: 20px;
  margin-top: 10px;
}

.messageField{
  margin-bottom: 20px;
  height: 90px;

}

/* Footer */


.footHEADR{
  margin-top: 10px;
}

.someTXT{
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: black;
  padding: 5rem;
  padding-top: 7rem;
  padding-bottom: 0rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.someTXT h1{
  color: black;
  font-size: 3rem;
  z-index: 11111;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


i {
  display: block;
  color: black;
}
.arrow {
  position: absolute;
  bottom: 1%;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  color: black !important;
  height: 60px;
  z-index: 2; 
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  font-size: 0.7vw;
}

.knapLand{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}


.wrapper {
  display: block;
  color:rgb(0, 0, 0);
  font-size:28px;
  text-decoration: none;
  color: black;
  position: fixed;
  bottom:0px;
  right:0px;
  padding:0px;
  transition: all .1s ease;
  background:#000;
  height:40px;
  line-height:30px;
  width:50px;
  text-align:center;
  border-radius: 5%;
  bottom:20px;
  right:20px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  left: 50;
}

#container-btn{
  display: flex;
  justify-content: center;
  z-index: 1000;

}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 1rem;
  width: 1.325rem;
  height: 0.225rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.425rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

.landVidMobile{
  display: none;
}

.bottom-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #26272b;
  position: absolute;
  bottom: 5px;
  margin-left: 2%;
  margin-right: 2%;
  height: 15vh;
}

.leftFoot{
  width: 20%;
  justify-content: flex-start;
}

.footIMG{
  width: 100%;
}

.bottom-footer .midFoot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 0.7vw !important;
  line-height: 10%;
}

.bottom-footer .midFoot h2{
  font-size: 1.5vw !important;

}
.bottom-footer .rightFoot h2{
  font-size: 1.5vw !important;

}

.midFoot .footMAIL{
  text-decoration: underline;
}

.rightFoot{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 0.7vw;
  line-height: 10%;
}

.cvrNummer{
  text-decoration: underline;
}

.undersideFoot{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  text-decoration: underline;
  color: white;
}

.bottom-footer .undersideFoot h2{
  color: white;
  font-size: 1.5vw !important;
}

.undersideFoot .undersideFIRST{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 10%;
  padding: 5px;

}
.undersideFoot .undersideSECOUND{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 10%;
  padding: 5px;

}
.undersideFoot .undersideTHRID{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 10%;
  padding: 5px;
}


.copyright-text{
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 0.6vw;
  color: white;
}

.mediaBund{
  color: white;
}

.copy-container{
  display: flex;
  justify-content: center;
}

.copy-container{
  display: none;
}

.copy-container-desktop{
  position: absolute;
  bottom: 0%;
  display: flex;
  justify-content: center;
  width: 100%;

} 

.copyright-text-desktop{
  color: white;
  font-size: 0.9vw;
  margin-bottom: 0;
  font-family: 'Abel', sans-serif;}

/* Responsive Land  */

@media screen and (min-width: 1500px){
  .bottom-footer{
    margin-top: 0;
  }

  .landCover{
    height: 20%;
    bottom: -15%;
  }

  .someTXT h1 {
    z-index: 11111;
    width: 85%;
    margin-left: 6rem;
  }


}

@media screen and (max-width: 800px){



  .contact-grid{
    position: relative;
    top: 0%;
  }

  .landCover{
    display: none;
  }



.navbar-brand{
  margin: 0;
  margin-right: 2rem;
}
.navbar img {
  margin-left: 2rem;
}

#scroll-down{
  margin-top: 4rem;
}

.contact-grid{
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
}

.nav-link{
  font-size: 4vw !important;
    text-align: center;
  }

  .landVid{
    display: none;
  }

  .landVidMobile{
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .site-footer{
    padding: 0;
    margin: 0;
  }

  .footer{
    padding: 0;
    width: 100%;
  }

  .site-footer h6{
    font-size: 3vw  !important;
  }

  .footer-links li{
    line-height: 25px;
    font-size: 2vw;
  }

  .footRIGHT{
    display: none;
  }

  .bottom-footer .midFoot h2{
    font-size: 3vw !important;
    margin: 0;
  }

  .bottom-footer .rightFoot h2{
    font-size: 3vw !important;
    margin: 0;
  }


  .contact-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }

  .preFoot{
    width: 100%;
    margin-left: 5%;

  }
  .form-group{
    width: 90%;
  }
  .contactBTN{
    width: 90%;
  }
  .preContact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
  }

  .preP{
    font-size: 2.5vw;
  }

  .preTXT{
    font-size: 5vw;
  }


  .copyright-text{
    display: none;
  }

  .arrow{
    bottom: -15%;
    height: 50px;
  }
  .someTXT{
    padding-top: 6.5rem;
  }

  .midFoot{
    padding-right: 25px;
  }

  .leftFoot{
    width: 25%;
  }

  .leftFoot img{
    width: 100%;
  }

      /* Foot IPAD */
  
      .leftFoot{
        width: 100%;
      }
      
      .footIMG{
        width: 100%;
      }
      
      .undersideFoot{
        padding-top: 1rem;
      }
      
      .bottom-footer .midFoot{
        flex-direction: column-reverse;
        align-items: center;
      }
    
      
      .bottom-footer .midFoot h2{
        padding-top: 2%;
        font-size: 3.5vw !important;
        padding: 0;
        padding-bottom: 1%;
      
      }
    
      .nav-some{
        display: block;
        display: flex;
      }
      
    .bottom-footer .rightFoot{
      flex-direction: row;
      align-items: center;
    }
    
    
      .bottom-footer .rightFoot h2{
        font-size: 3.5vw !important;
      }
      
      .undersideFoot .undersideFIRST h2{
        font-size: 2vw !important;
        padding-right: 35px;
      }
      .undersideFoot .undersideSECOUND h2{
      font-size: 2vw !important;
      
      } 
      .undersideFoot .undersideTHRID h2{
      font-size: 2vw !important; 
      }
      
      .bottom-footer{
        flex-direction: column;
      }
    
      .responseFooter{
        display: flex;
      }
    
      .copy-container{
        display: block;
      }
    
      .copyright-text{
        font-size: 0.7rem;
      }
    
      /* Footer Ipad Done */


      /* Ipad NAV */


.nav-link{
  font-size: 7vw !important;
    text-align: center;
  }

  #dropdown-item{
    font-size: 8vw;
  }

  #text{
    text-align: center;
  }

      /* IPAD NAV */

}





@media screen and (max-width: 500px){


  .nav-some{
    display: none;
  }



  .someTXT-container{
    height: 40%;
  }

  input{
    height: 30px;
  }

  .contact-grid {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }

 .site-footer h6{
    font-size: 6vw  !important;
  }

  a{
    font-size: 1rem;
  }

  .footer-links li{
    line-height: 25px;
    font-size: 2rem;
  }

  .footer-links a {
    font-size: 1rem;
  }

  .styd-nav-container{
    display: none;
  }

  body{
    max-width: 500px;
  }
  .styd-image{
    overflow: hidden;
    max-width: 100%;
  }

  .landVid{
    display: none;
  }

  .someTXT h1{
    font-size: 2rem;
    padding: 0;
    text-align: left;
    padding-left: 0.5rem;
    width: 100%;
  }

  .responseLAND{
    position: relative;
    top: 15%;
  }
  
  .landVidMobile{
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .navbar-brand{
    margin: 0;
  }
  .navbar img{
    margin-left: 0;
}


.nav-link{
  font-size: 7vw !important;
    text-align: center;
  }

  #dropdown-item{
    font-size: 8vw;
  }

  #text{
    text-align: center;
  }

  .mere{
    display: none;
  }

  .styd-content h1{
    overflow: hidden;
    font-size: 3.5rem;
    padding: 0;
    width: 100%;
  }

  .contact-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
    margin-top: 50px;
  }

  input{
    height: 40px;
  }

  .copyright-text{
    display: none;
  }

  .footer img{
    width: 70%;
  }



  .preFoot h4{
    display: none;
  }

  .preContact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .preFoot{
    width: 100%;
  }

  .preFoot h4 {
    font-size: 10vw;
    display: block;
  }


  .preFoot p {
    display: none;
  }

  .form-group{
    width: 90%;
  }
  .contactBTN{
    width: 90%;
    height: 30px;
    padding: 0;
  }
  .messageField{
    height: 50px;
  }


  .leftFoot{
    width: 33%;
  }
  .bottom-footer{
    margin-left: 0;
    height: 50%;

  }
  .midFoot{
    padding-right: 5%;
    padding-left: 5%;
  }

  .arrow {
    bottom: -10%;
    font-size: 2vw;
  }

  .someTXT{
    padding-top: 0;
    padding: 0;
    margin-left: 2%;
    height: 100%;
  }

  .foot-fade{
    display: block;
  }

  /* Footer mobile */
/* Footer mobile */


.bottom-footer .midFoot{
  flex-direction: column-reverse;
}

.leftFoot{
  width: 100%;
  display: flex;
  justify-content: center;
}

.responseFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}

.bottom-footer .midFoot h2{
  font-size: 4vw !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  padding-top: 20px;
}

.rightFoot{
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;
  padding: 0;
  
}

.bottom-footer .rightFoot h2{
  font-size: 4vw !important;
}

.undersideFoot .undersideFIRST h2{
  font-size: 3vw !important;
  padding-right: 35px;
}

.undersideFoot .undersideSECOUND h2{
font-size: 3vw !important;
}

.undersideFoot .undersideTHRID h2{
font-size: 3vw !important; 
padding-left: 35px;
}

.nav-some{
  display: none;
}

.rightFoot{
  margin: 0;
}

.footMAIL{
  padding-left: 2%;
}

.footTXT{
  align-items: center;
}



.footINFO{
  text-align: center;
}

.copyright-text-desktop{
  font-size: 2vw;
}

/* Footer Mobile Done */
}


/* Mærkelige sager */


@media screen and (min-width: 1100px){

  .someTXT h1 {
    font-size: 2.5rem;
  }

  .landVid{
      position: absolute;
      top: 10%; 
  }

  .navbar{
    height: 9rem;
  }
  

}


button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 5;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}



/* Check mark loader efter afsendelse */

.checkmark {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  -webkit-animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 100px #7ac142;
  }
}



/* Check mark loader efter afsendelse DONE */

@media screen and (max-width: 375px){


  .someTXT-container{
    height: 60%;
  }
}
