@font-face {
  font-family: AUBOLD;
  src: url(/AUPassata_Bold.ttf);
}
@font-face {
  font-family: AUREG;
  src: url(/AUPassata_Rg.ttf);
}
@font-face {
  font-family: AULIGHT;
  src: url(/AUPassata_Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AUBOLD; 
    scroll-behavior: smooth;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  body{
    background-color: white;
  }
/* Nav bar start */

.navbar-brand{
  font-size: 2rem;
}
.navbar-brand{
  margin-left: 2rem ;
}




.nav-link{
font-size: 1.8vw !important;
font-family: 'Abel';

}
.nav-some{
text-decoration: none;
list-style: none;
display: flex;
justify-content: space-between;
font-size: 2rem;
color: #000000;
}

.fab{
color: rgb(0, 0, 0);
}

.fa:hover{
transition: all .2s ease-in-out;
transform: scale(1.1);
}
.nav-link:hover{
transition: all .2s ease-in-out;
transform: scale(1.1);
text-decoration: underline 2px black;

}

.iconstyle{
color: black !important;

}
.instagram{
color: black;
font-size: 2rem;
}

.facebook{
  font-size: 2rem;
}

@media all and (min-width: 992px) {
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }
  .dropdown-toggle::after{display: none;}
}

/* Nav slut */

  
/* Text spacer begin */

.textBX-spacer {
    height: 10vh;
    margin-bottom: 5rem;
  }

  
  
/* Text spacer end */

/* Læs mere Knap */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
#container-btn{
  display: flex;
  justify-content: center;
  z-index: 1000;

}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.8rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

.content-PRE{
  background-color: #000000;
}

/* END Læs mere Knap */




/* underpage-head */


.header-container{
  display: flex;
  flex-direction: column;
}

.headTXT{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    letter-spacing: 2px;
    width: 1000px;
    text-align: center;
    color: white;
  font-family: AULIGHT;
}

.headTXT1{
  font-size: 5vw;
  color: white;
    font-family: AULIGHT;
  font-weight: 700;
}

/* END underpage-head */


/* Event Cover */

.img-head{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(assets/img/event/eventCover.jpg);
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;
  background-position: center;
}
/* Event Cover */


/* Erhverv Cover */
.img-head1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(assets/img/erhverv/erhvervCover.jpg);
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;
  background-position: center;

}
/* End Erhverv Cover */

/* Bryllup Cover */

.img-head2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(assets/img/bryllupper/bryllupCover.jpg);
  background-size: cover;
  height: 60vh;
  background-attachment: fixed;    
  background-position: center;
}

/* End Bryllup cover */


/* End Event-head */

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modalbody{
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.youtube{
  display: flex;
  justify-content: center;
}

.modalHEAD{
  display: flex;
  justify-content: center;
}

/* Event Content */

.content-event{
  display: flex;
  margin-top: 5rem;
  margin-bottom: 10rem;

}

.eventbæ{
  width: 50%;
  opacity: .9;
}

.eventHEAD{
font-size: 2rem;
width: 85%;
letter-spacing: 3px;
font-weight: 400;
padding-right: 2rem;
}

.eventTXT{
padding: 5px;
font-size: 1.6vw;
width: 85%;
line-height: 40px;
letter-spacing: 1.5px;
opacity: 1;
margin-top: 40px;
font-family: AUREG !important; 
}

.eventSoME{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2.5rem;

}

.someTXT{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 5rem;
}

.find{
  font-size: 7vw;
}
.findEVENT{
  font-size: 6vw;
}

.eventSo{
  font-size: 3vw;
  text-align: center;
  margin-right: 5rem;
  text-decoration: none;
}

.eventBX{
  display: flex;
  margin: 2.5rem;
}

.event{
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -5px;
  width: 100%;
  max-height: 100%;
  border: 1px solid black;
  overflow: hidden;
}
.event1{
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 10px 15px -5px;
  width: 100%;
  border: 1px solid black;
  overflow: hidden; 
}



/* End Event Content */


/* Galleri */

.galleri{
  margin: 2%;
}

.grid {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: dense;
  grid-template-areas:
    "grid-item1 grid-item3 grid-item5"
    "grid-item2 grid-item3 grid-item6"
    "grid-item2 grid-item-4 grid-item6";
    height: 50%;
  padding: 10px;
  

  }

  .grid img{
    width: 100%;
  }

  .gridB img{
    width: 100%;
  }

.grid-item1 { 
  grid-area: grid-item1; 
}

.grid-item2 {
grid-area: grid-item2; 
}

.grid-item3 {
  grid-area: grid-item3;
  height: 100%;
}

.grid-item4 {
   grid-area: grid-item-4; 
  }

.grid-item5 {
   grid-area: grid-item5; 
  }

.grid-item6 { 
  grid-area: grid-item6; 
}
.gridE {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "grid-item1E grid-item3E grid-item5E"
    "grid-item2E grid-item3E grid-item6E"
    "grid-item2E grid-item-4E grid-item6E";
    height: 50%;
  padding: 10px;
  }

.gridE img{
  width: 100%;
}

.grid-item1E { 
  grid-area: grid-item1E; 
}

.grid-item2E {
grid-area: grid-item2E; 
}

.grid-item3E {
   grid-area: grid-item3E;

}

.grid-item4E {
   grid-area: grid-item-4E; 
  }

.grid-item5E {
   grid-area: grid-item5E; 

  }

.grid-item6E { 
  grid-area: grid-item6E; 
}

.gridB {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "grid-item1B grid-item3B grid-item5B"
    "grid-item2B grid-item3B grid-item6B"
    "grid-item2B grid-item-4B grid-item6B";
    height: 50%;
  }

.grid-item1B { 
  grid-area: grid-item1B; 
  height: 100%;
}

.grid-item2B {
grid-area: grid-item2B; 
}

.grid-item3B {
   grid-area: grid-item3B;
  height: 100%;
}

.grid-item4B {
   grid-area: grid-item-4B; 
   padding-bottom: 20px;

  }

.grid-item5B {
   grid-area: grid-item5B; 
   height: 100%;

  }

.grid-item6B { 
  grid-area: grid-item6B; 
  padding-bottom: 20px;
  height: 100%;
}


/* End Galleri */



.arrow1{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.arrow1 span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow1 span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow1 span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}



.arrow2 span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #06A8FF;
  border-right: 5px solid #06A8FF;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow2 span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow2 span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}



/* Video - Produktion sektionen */

.videoGrid {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    padding: 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "video-1 video-2"
      "video-3 video-4"
      "video-5 video-6";
  }
  
  .video-1 { grid-area: video-1; }
  
  .video-2 { grid-area: video-2; }
  
  .video-3 { grid-area: video-3; }
  
  .video-4 { grid-area: video-4; }
  
  .video-5 { grid-area: video-5; }
  
  .video-6 { grid-area: video-6; }
  
  .videogalleryIMG{
    width: 100%;
  }

 .videoGrid img {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .videoGrid img:hover {opacity: 0.7;}
  /* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }

  /* Modal Youtube Content */
  .youtube{
      width: 100%;
      height: 100%;
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    height: 80%;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  .caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }




/* Slut  Video - Produktion sektionen */

 .formHeader{
    display: none;
  }


/* Footer */

.bottom-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #26272b;
  position: absolute;
  bottom: 1;
  width: 100%;
}

.leftFoot{
  width: 20%;
  justify-content: flex-start;
}

.footIMG{
  width: 100%;
}

.bottom-footer .midFoot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 0.7vw !important;
  line-height: 10%;
}

.bottom-footer .midFoot h2{
  font-size: 1.5vw !important;

}
.bottom-footer .rightFoot h2{
  font-size: 1.5vw !important;

}



.rightFoot{
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 0.7vw;
  line-height: 10%;
}


.undersideFoot{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  color: white;
  text-decoration: underline;
  padding-right: 5%;
}



.bottom-footer .undersideFoot h2{
  color: white;
  font-size: 1vw !important;
}

.undersideFoot .undersideFIRST{
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 10%;
  padding: 5px;

}
.undersideFoot .undersideSECOUND{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height: 10%;
  padding: 5px;

}
.undersideFoot .undersideTHRID{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 10%;
  padding: 5px;
}


.copyright-text{
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 0.6vw;
  color: white;
  position: relative;
  bottom: 1%;
  margin-bottom: 0;
  padding-top: 2rem;

}

.mediaBund{
  color: white;
}

.copy-container{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 1%;
  display: none;
}

.desktop-copy-container{
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -1;
  z-index: 1111;
  background-color: black;
  width: 100%;
}

.copy-desktop{
  color: white;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

/* Footer End */


  

/* Responsive  */


@media screen and (max-width: 800px){

  /* Foot IPAD */
  
  .leftFoot{
    width: 100%;
  }
  
  .footIMG{
    width: 100%;
  }
  
  .undersideFoot{
    padding-top: 2rem;
  }
  
  .bottom-footer .midFoot{
    flex-direction: column-reverse;
    align-items: center;
  }

  
  .bottom-footer .midFoot h2{
    padding-top: 2%;
    font-size: 3.5vw !important;
    padding: 0;
    padding-bottom: 1%;
  
  }

  .nav-some{
    display: block;
    display: flex;
  }
  
.bottom-footer .rightFoot{
  flex-direction: row;
  align-items: center;
}


  .bottom-footer .rightFoot h2{
    font-size: 3.5vw !important;
  }
  
  .undersideFoot .undersideFIRST h2{
    font-size: 2vw !important;
    padding-right: 35px;
  }
  .undersideFoot .undersideSECOUND h2{
  font-size: 2vw !important;
  
  } 
  .undersideFoot .undersideTHRID h2{
  font-size: 2vw !important; 
  }
  
  .bottom-footer{
    flex-direction: column;
  }

  .responseFooter{
    display: flex;
  }

  .copy-container{
    display: block;
  }

  .copyright-text{
    font-size: 0.7rem;
  }

  /* Footer Ipad Done */

  .headTXT{
    width: 500px;
  }

  .navbar img{
    margin-left: 0;
}
  
  
  .eventBX{
    display: flex;
    flex-direction: column;
  }
  
  .erhvervIMG{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .erhvervIMG img{
    width: 90%;
    padding-left: 5rem;

  }

  .bryllupIMG{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .bryllupIMG img{
    width: 100%;
  }

  .eventIMG{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .eventIMG img{
    width: 100%;
  }

  .event1{
    width: 100%;
  } 

  .content-event{
    margin-bottom: 5rem;
  }

  .eventbæ{
    width: 100%;
  }

  .eventHEAD{
    text-align: center;
    width: 100%;
  }
  
  .eventTXT{
    width: 100%;
    text-align: center;
  }

  #container-btn{
    margin-bottom: 5rem;
  }

  strong{
    font-size: 4vw;
  }

  .refrence{
    margin: 2rem;
  }

  .kunderHead{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  
  .grid{
  grid-template-columns: 1fr 1fr; 
  }
    .gridE{
  grid-template-columns: 1fr 1fr; 
  }
    .gridB{
  grid-template-columns: 1fr 1fr; 
  }
    .grid{
  grid-template-columns: 1fr 1fr; 
  }
  
  .grid-item5{
  display:none;
  }
  
  .grid-item6{
  display:none;
  }

    .grid-item5B{
  display:none;
  }
  
  .grid-item6B{
  display:none;
  }
  
    .grid-item5E{
  display:none;
  }
  
  .grid-item6E{
  display:none;
  }
}
@media screen and (max-width: 500px){


  /* NAV */
nav{
  z-index: 11111;
}

.nav-link{
  font-size: 7vw;
}

nav a{
  font-size: 1.3rem;
}

/* NAV DONE  */

/* Footer mobile */


.bottom-footer .midFoot{
  flex-direction: column-reverse;
}

.leftFoot{
  width: 100%;
  display: flex;
  justify-content: center;
}

.responseFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}

.bottom-footer .midFoot h2{
  font-size: 4vw !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.rightFoot{
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;
  
}

.bottom-footer .rightFoot h2{
  font-size: 4vw !important;
}

.undersideFoot .undersideFIRST h2{
  font-size: 3vw !important;
  padding-right: 35px;
}

.undersideFoot .undersideSECOUND h2{
font-size: 3vw !important;
}

.undersideFoot .undersideTHRID h2{
font-size: 3vw !important; 
padding-left: 35px;
}

.nav-some{
  display: none;
}

.rightFoot{
  margin: 0;
}

.footMAIL{
  padding-left: 2%;
}

.footTXT{
  align-items: center;
}



.footINFO{
  text-align: center;
}

.copyright-text{
  font-size: 2vw;
}

/* Footer Mobile Done */

.someTXT{
  margin: 0;
  padding: 2rem;
  padding-bottom: 0;
  }
  
  .nav-link{
  font-size: 7vw !important;
    text-align: center;
  }
  
.navbar-brand{
  margin: 0;
  }
  
  .navbar img{
margin-left: 0;
}
  
  .formHeader{
    display: block;
  }
  
  .headTXT{
    width: 400px;
    font-size: 9vw;
  }
  
  .headTXT1{
  font-size: 9vw;
 }

  .navbar-brand.nav-some{
    display: none !important;
  }
  

  .eventTXT{
    line-height: 20px;
    font-size: 3.5vw;
  }
  
  .event{
  	width:100%;
  }


  h6{
    font-size: 5vw !important;
  }

  .footMID{
    font-size: 4vw;
  }
  .footRIGHT{
    font-size: 4vw;
  }
  .footMID{
    font-size: 4vw;
  }

  .gallerygacontainer{
    display: none !important;
  }

  .eventBX{
    margin: 0rem;
  }
  .eventHEAD{
    font-size: 0.9rem;
  }

  .preFooter{
    display:block;
    margin: 0;
    padding: 0;
    padding-left: 2.5rem;
  }
  
  .preFoot{
    display: none;
  }

  
  .forsvind{
    opacity: 0;
  }
  
.aktiv{
  height: 110vh;
  
  }
  
  .preContact{
    display:block;
    width: 300px;
  }

  #nav{
    display: none; 
  }

  .preSpacer{
    display: none;
  }

  .landVid{
    display: none;
  }

  .landVidMobil{
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .social-responsive{
    display: none;
  }

  .kunder{
    display: none;
  }

  .nav-right{
    display: none;
  }
  .nav-logo{
    width: 100%;
  }
  .nav-menu1{
    width: 100%;
  }

  .video-2{
    display: none;
  }
  .video-4{
    display: none;
  }
  
  .video-6{
    display: none;
  }
  
  .video-gallery-responsive{
    display: flex;
    flex-direction: column;
  }

  .video-heading{
    font-size: 5.5vw;
  }

  .scrollPARA{
    font-size: 1rem;
  }

  .tester2{
    font-size: 4rem;
  }
  .tester3{
    font-size: 4rem;
  }
  .tester4{
    font-size: 4rem;
  }
  .tester5{
    font-size: 4rem;
    line-height: 80%;
  }
}



/* Responsive Done */


.contact-grid {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "preTXTcontainer preContact";
}

.preTXTcontainer { grid-area: preTXTcontainer; }

.contactform { grid-area: preContact; }

.TEST{
  text-decoration: line-through;
}

.nav-link{
  font-size: 1.3vw;
  font-family: AULIGHT;
}
#wrapper {
  display: table;
  width:100%;
  height:100%;
}

#wrapper-inner {
  display: table-cell;
  vertical-align:middle;
  width:100%;
  height:100%;
}

#scroll-down {
    display: block;
    position: relative;
    padding-top: 79px;
  text-align:center;
}
.arrow-down {
    display: block;
    margin: 0 auto;
    width: 10px;
    height: 38px;
}
.arrow-down:after {
    content: '';
    display: block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    behavior: url(-ms-transform.htc);
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
#scroll-title {
    display: block;
    text-transform: uppercase;
    color: black;
  font-family: AUREG;
  font-size:14px;
  font-weight:bold;
  letter-spacing:.1em;
}
#scroll-down::before {
    -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Safari 4+ */
    
    -moz-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Fx 5+ */
    
    -o-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* Opera 12+ */
    
    animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
    /* IE 10+, Fx 29+ */
    
    position: absolute;
    top: 0px;
    left: 50%;
    width: 2px;
    margin-left: -2px;
    height: 86px;
    background: black;
    content: ' ';
}
@-webkit-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-moz-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@-o-keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}
@keyframes elasticus {
    0% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
    50% {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    50.1% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
    100% {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        -moz-transform-origin: 0% 100%;
        -o-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
    }
}



.wrapper {
  display: block;
  color:rgb(0, 0, 0);
  font-size:32px;
  text-decoration: none;
  color: black;
  position: fixed;
  bottom:0px;
  right:0px;
  padding:0px;
  transition: all .1s ease;
  background:#000;
  height:40px;
  line-height:30px;
  width:40px;
  text-align:center;
  border-radius: 5%;
  bottom:20px;
  right:20px;
}

.bryllupIMG{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bryllupIMG{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bryllupIMG img{
  width: 100%;
}

.eventIMG{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}