@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Abel';
}

/* Nav bar start */

.navbar-brand{
    font-size: 2rem;
}
.navbar-brand{
  	margin-left: 2rem ;
}




.nav-link{
  font-size: 1.8vw;
  font-family: 'Abel';

}
.nav-some{
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: #000000;
}

.fab{
  color: rgb(0, 0, 0);
}

.fa:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}
.nav-link:hover{
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  text-decoration: underline 2px black;

}

.iconstyle{
  color: black !important;

}
.instagram{
  color: black;
  font-size: 2rem;
}

.facebook{
    font-size: 2rem;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
    .dropdown-toggle::after{display: none;}
}

/* Nav slut */

/* Footer */

/* Footer */

.bottom-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #26272b;
    width: 100%;
  }
  
  .leftFoot{
    width: 20%;
    justify-content: flex-start;
  }
  
  .footIMG{
    width: 100%;
  }
  
  .bottom-footer .midFoot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 0.7vw !important;
    line-height: 10%;
  }
  
  .bottom-footer .midFoot h2{
    font-size: 1.5vw !important;
  
  }
  .bottom-footer .rightFoot h2{
    font-size: 1.5vw !important;
  
  }
  
  
  
  .rightFoot{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 0.7vw;
    line-height: 10%;
  }
  
  
  .undersideFoot{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: white;
    text-decoration: underline;
    padding-right: 5%;
  }
  
  .bottom-footer .undersideFoot a{
    color: white;
    font-size: 1.2vw !important;
  }
  
.undersideFIRST{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
  }


.undersideSECOUND{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
  }
.undersideTHRID{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
  }

  
  .copyright-text{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 0.6vw;
    color: white;
    position: relative;
    bottom: 1%;
    margin-bottom: 0;
    padding-top: 2rem;
  }
  
  .mediaBund{
    color: white;
  }
  
  .copy-container{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1%;
    display: none;
  }
  
  .desktop-copy-container{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -1;
    z-index: 1111;
    background-color: black;
    width: 100%;
  }
  
  .copy-desktop{
    color: white;
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }

  .copy-container-desktop{
    background-color: #26272b;
    color: white;
    display: flex;
    justify-content: center;
}

.copy-container-desktop .copyright-text-desktop p{
    font-size: 1vw !important;
    color: blue;
}
  
  /* Footer End */

  /* Content */


  .drone-video{
      width: 100%;
  }

  .content-text{
    padding-left: 2%;
    padding-right: 2%;
    height: 40vh;
    background-color: white;
    position: absolute;
    top: 90%;
    width: 100%;
  }

  .video-container{
      width: 100%;
  }


  hr{
      height: 2px;
      width: 95%;
      color: black;
  }


  .text-container{
      display: flex;
      margin-top: 2rem;
  }

  .leftside-container{
      width: 55%;
      font-size: 7vw;
  }

  .rightside-container{
      width: 45%;
      height: 50%;
  }

  .spacer-image-container{

    background-image: url(../assets/img/drone/james-khashchuk-50baB1wPyKA-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-position: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  /* Content END */


/* responsive Ipad */
/* responsive Ipad END */







/* Responsive Mobil */

@media screen and (max-width: 500px){

    .navbar-brand{
        margin: 0;
      }
      .navbar img{
        margin-left: 0;
    }

    .nav-link{
      font-size: 7vw !important;
        text-align: center;
      }
    
      #dropdown-item{
        font-size: 8vw;
      }

      .content-text{
          position: unset;
      }

    .text-container {
        display: flex;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .leftside-container{

        width: 100%;
    }

    .rightside-container{
        width: 100%;

    }

    .spacer-image-container{
        height: 20vh;
        margin: 0;
        margin-top: 7rem;
        margin-bottom: 1rem;
      }


      
  .preFoot p{
    font-size: 4.5vw;
  }

  .preP{
    line-height: 130%;
    margin-top: 0.5rem;
  }

.bottom-footer .midFoot{
  flex-direction: column-reverse;
}

.bottom-footer{
  flex-direction: column;

}


.leftFoot{
  width: 100%;
  display: flex;
  justify-content: center;
}

.responseFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
}

.bottom-footer .midFoot h2{
  padding-top: 2rem;
  font-size: 4vw !important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  padding-bottom: 1rem;

}

.cvrNummer h2{
  font-size: 4vw;
}

.rightFoot{
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;
  
}

.bottom-footer .rightFoot h2{
  font-size: 4vw !important;
}

.undersideFoot .undersideFIRST h2{
  font-size: 3vw !important;
  padding-right: 35px;
}

.undersideFoot .undersideSECOUND h2{
font-size: 3vw !important;
}

.undersideFoot .undersideTHRID h2{
font-size: 3vw !important; 
padding-left: 35px;
}

.nav-some{
  display: none;
}

.rightFoot{
  margin: 0;
}

.footMAIL{
  padding-left: 2%;
}

.footTXT{
  align-items: center;
}



.footINFO{
  text-align: center;
}

.copy-container-desktop{
    background-color: #26272b;
    display: flex;
    justify-content: center;
    padding-top: 4%;
}


/* Footer Mobile Done */
}


/* Responsive Mobil END */
